<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
      </webServices>
    </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="LoginPage.html"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <add name="NewUMSConnectionString" connectionString="Data Source=172.19.2.52;Initial Catalog=lpuums;User ID=newums;Password=Inf0t$ch@2016;pooling=true;Connect Timeout=45" providerName="System.Data.SqlClient" />
    <add name="NewUMSConnectionString1" connectionString="Data Source=172.19.2.200;Initial Catalog=lpuums;User ID=rohit.19250;Password=Rhtkmr#171093@19934;pooling=true;Connect Timeout=45" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
